/* CSS Document */
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #323232;
}
.navigation ul li,li a {
	list-style: none;
	text-decoration: none;
	color: #323232;
}
.navigation{
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 40px;
	max-height: 5%;
	background: gray;
	
}
.svg-menu{
	display: none;
	max-width: 30px;
}
#menu{
	display: none;
}
.nav-menu{
	order: 1;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	
}
.menu-item{
	margin:0;
	display: flex;
	justify-content: center;
	min-width: 50px;
	max-width: 100%;
}
.menu-link {
	margin: 0;
	padding: 15px;
	width: 100%;
}
/*.menu-link:hover,.menu-item:hover*/
.menu-link:hover{
	color:gray;
	background: #323232;
}
.trash {
	height: auto;
	width: 100%;
	background: yellow;
}
.trash img {
	order: 2;
	width: 100%;
}

@media only screen and (max-width: 400px){
	.wrapper{
		
	}
	.navigation{
		margin: 0;
		flex-wrap: wrap;
		min-height: 20px;
	}
	.logo{
		width: 100%;
		text-align: center;
	}
	.navigation {
		justify-content: flex-end;
	}
	.svg-menu{
		display: flex;
		position: fixed;
		padding-left: 100%;
		padding-top: 3%;
		padding-right: 15px;
		padding-bottom: 3%;
<<<<<<< HEAD
		background: url("logo.png") 56% 85% no-repeat gray;
		background-size: 9%;
=======
		background: url("logo.png") 56% 55% no-repeat gray;
>>>>>>> parent of 0610c0c... Update style.css
		
	}
	.logo {
		order: 0;
		position: fixed;
	}
	.label-img{
		margin-top: 15px;
		max-width: 30px;
	}
	
	.nav-menu{
		display: none;
	}
		
	#menu:checked ~ .nav-menu{
		display: flex;
		position: fixed;
		top:40px;
		flex-wrap: wrap;
		width: 100%;
	}
	.menu-item{
		text-align: center;
		width: 100%;
	}
	.menu-item{
		text-align: center;
	}
	/*
	.navigation .nav-menu .menu-item:not(:first-child){
		display: none;
	}
	.nav-menu:hover .menu-item:not(:first-child){
		display: flex;

	}*/
	.nav-menu{
		padding: 0;
		margin: 0;
		flex-wrap: wrap;
		width: 100%;
	}
	.menu-item{
		display: flex;
		margin: 0;
		width: 100%;
		background: gray;
	}
	.menu-link{
		padding-top: 10px;
		padding-bottom: 10px;
		width: 100%;
	}
	

}